<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kakaovisionsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KakaoVisionSDK"
        android:usesCleartextTraffic="true">
        <activity android:name=".ocr.OcrActivity"/>
        <activity android:name=".friend.FriendsActivity" />
        <activity android:name=".face.FaceDetectActivity" />
        <activity android:name=".thumbnail.ThumbnailCropActivity" />
        <activity android:name=".thumbnail.ThumbnailCropUrlActivity" />
        <activity android:name=".translate.TranslateActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao0a8b260f65463336c10000a6a5d59c79" />
            </intent-filter>
        </activity>
    </application>

</manifest>